@import '~antd/dist/antd.css';

.App {
  text-align: center;
  background:linear-gradient(0deg, rgba(7,2,26,1) 72%, rgba(63,124,172,1) 100%);
  min-height: 100vh;
  min-width: 100wh;
}

.header-content {
  padding: 2rem;
  margin-bottom: 1rem;
}


h1, h3 {
  color: #D9D9D9 !important;
  line-height: 2em;
}

.footer {
  height: 50px !important;
  position: sticky !important;
}
